<div class="row location-select" >
    <div class="col-4" *ngFor="let spiceLevel of locationBySpice;let spice = index">
        <div class="d-flex justify-content-center">
            <div
                class="spice-level-icons"
                [ngClass]="{'allSpiceLevel': spiceLevel.groupSelected}" 
                (click)="toggleSpiceGroup(spice)"
            >
            <div>
                <img
                    *ngFor="let count of arr(spice+1)"
                    src="/assets/spicyempty.png"
                />
            </div>
            </div>
        </div>
        <div
            [ngClass]="'spice-group'+ (spice+1)"
            *ngIf="spiceLevel?.locations"
        >
            <button
                *ngFor="let locationEntry of spiceLevel.locations | keyvalue"
                class="btn"
                (click)="toggleOption(locationEntry.value)"
                [ngClass]="{'btn-secondary' : !locationEntry.value.selected, 'spice-active' : locationEntry.value.selected}"
            >
                {{locationEntry.value.text}}
            </button>
        </div>
    </div>
</div>
