<div class="row location-select">
    <div class="col-4" *ngFor="let spiceLevel of mapLocationsBySpice | keyvalue">
        <div class="d-flex justify-content-center">
            <div
                class="spice-level-icons"
                (click)="toggleSpice(spiceLevel.key)">
                <img src="/assets/spicyempty.png" *ngIf="spiceLevel.key >= 1"/>
                <img src="/assets/spicyempty.png" *ngIf="spiceLevel.key >= 2"/>
                <img src="/assets/spicyempty.png" *ngIf="spiceLevel.key == 3"/>
            </div>
        </div>
        <div
            [ngClass]="'spice-group'+spiceLevel.key"
        >
            <button
                *ngFor="let locationEntry of spiceLevel.value | keyvalue"
                class="btn"
                (click)="toggleOption(locationEntry.value)"
                [ngClass]="{'btn-secondary' : !locationEntry.value.selected, 'spice-active' : locationEntry.value.selected}"
            >
                {{locationEntry.value.text}}
            </button>
        </div>
    </div>
</div>
