.btn {
    margin : 5px;
}

// Enforces flex items to be equal width
.flex-equal {
    flex: 1;
}


.spice-group1 {
    ::ng-deep & .btn.selected {
        background-color: green;
    }
}

.spice-group2 {
    ::ng-deep & .btn.selected {
        background-color: orange;
    }
}

.spice-group3 {
    ::ng-deep & .btn.selected {
        background-color: red;
    }
}

.spice-group-icon {

    &.selected img {
        content:url("/assets/spicyfull-small.png");
    }

    &:hover {
        & img {
            content:url("/assets/spicyfull-small.png");
            animation: fade-in .5s ease-in ;
        }
    }

    & img {
        height: 5rem;
        cursor: pointer;
    }
}

@keyframes fade-in {
  0% { opacity: .25; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  100% { opacity: 1; }
  0% { opacity: .25; }
}
