.btn {
    margin : 5px;
}

.spice-group1 .spice-active {
    background-color: green;
}

.spice-group2 .spice-active {
    background-color: orange;
}

.spice-group3 .spice-active {
    background-color: red;
}

.location-select {
    position : absolute;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1000;
}
