.btn {
    margin : 5px;
}

// Enforces flex items to be equal width
.flex-equal {
    flex: 1;
}


.spice-group1 {
    ::ng-deep & .btn.selected {
        background-color: green;
    }
}

.spice-group2 {
    ::ng-deep & .btn.selected {
        background-color: orange;
    }
}

.spice-group3 {
    ::ng-deep & .btn.selected {
        background-color: red;
    }
}

.spice-group-icon {

    &.selected img {
        content:url("/assets/spicyfull-small.png");
    }

    &:hover {
        & img {
            content:url("/assets/spicyfull-small.png");
            animation: fade-in .5s ease-in ;
        }
    }

    & img {
        height: 5rem;
        cursor: pointer;
    }
}

@keyframes fade-in {
  0% { opacity: .25; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  100% { opacity: 1; }
  0% { opacity: .25; }
}

$fireColor: rgb(255,80,0);
$fireColorT: rgba(255,80,0,0);
$dur: 1s;
$blur: 0.02em;
$fireRad: 3em;
$parts: 50;
$partSize: 5em;

.fire {
	font-size: 24px;
	filter: blur($blur);
	-webkit-filter: blur($blur);
	margin: 3em auto 0 auto;
	position: relative;
	width: 10em;
	height: 12em;
}
.particle {
	animation: rise $dur ease-in infinite;
	background-image: radial-gradient($fireColor 20%,$fireColorT 70%);
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: $partSize;
	height: $partSize;
	// spread particles out in time and x-position to get desired effect
	@for $p from 1 through $parts {
		&:nth-of-type(#{$p}) {
			animation-delay: $dur * random();
			left: calc((100% - #{$partSize}) * #{($p - 1)/$parts});
		}
	}
}
@keyframes rise {
	from {
		opacity: 0;
		transform: translateY(0) scale(1);
	}
	25% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateY(-10em) scale(0);
	}
}
