<div class="container-fluid page-header">
    <div class="container">
        <img src="/assets/generatedtext.png"/>
    </div>
</div>
<div class="container-fluid">
    <div class="row" >
        <!-- SIDE BAR -->
        <div class="sidebar-collapse col-md-1" *ngIf="!showSidebar">
            <div class="spacer"></div>
            <div class="sidebar-open">
                <div title="Wheel Segment Options" class="col-md-3 offset-2">
                    <fa [name]="'cog'" [size]="3"  (click)="toggleSidebar()"></fa>
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div title="Green Screen Friendly" class="col-md-3 offset-2">
                    <fa [name]="'desktop'" [size]="3"  (click)="toggleGreenScreen()"></fa>
                </div>
            </div>
        </div>
        <div id="sidebar" class="col-md-4" style="padding-top: 2em; padding-bottom: 2em;" *ngIf="showSidebar">
            <div class="row">
                <div id="sidebar-title" class="col-md-10">
                    <h2>Wheel Options</h2>
                </div>
                <!-- <div class="col-md-2">
                    <button class="btn btn-secondary btn-sm btn-block" (click)="toggleSidebar()">
                        <fa [name]="'cog'" [size]="3"></fa>
                    </button>
                </div> -->
                <div class="col-md-2 sidebar-close">
                    <!-- <button class="btn btn-secondary btn-sm btn-block" (click)="toggleSidebar()"> -->
                        <fa [name]="'times-circle'" [size]="3" (click)="toggleSidebar()" ></fa>
                    <!-- </button> -->
                </div>
            </div>
        <hr>
            <div id="location-select">
                <div id="spice-title">
                    <!-- <h3>Spice 1</h3> -->
                    <div class="col-md-1">
                        <img src="/assets/spicyfull-small.png" />
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let location of locations1" class="col-md-4" style="margin-top: .5em;">
                        <div class="spice1" *ngIf="location.level == 1">
                            <button class="btn btn-block" (click)="addOption(location)" [ngClass]="{'btn-secondary' : !location.selected, 'spice-active' : location.selected}">{{location.text}}</button>
                        </div>
                    </div>
                </div>

                <div class="spacer"></div>
                <div id="spice-title" class="row">
                    <!-- <h3>Spice 2</h3> -->
                    <div class="col-md-1">
                        <img src="/assets/spicyfull-small.png" />
                    </div>
                    <div class="col-md-1">
                        <img src="/assets/spicyfull-small.png" />
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let location of locations2" class=" col-md-4" style="margin-top: .5em;">
                        <div class="spice2 " *ngIf="location.level == 2">
                            <button class="btn btn-block" (click)="addOption(location)" [ngClass]="{'btn-secondary' : !location.selected, 'spice-active' : location.selected}">{{location.text}}</button>
                        </div>
                    </div>
                </div>

                <div class="spacer"></div>
                <div id="spice-title" class="row">
                    <!-- <h3>Spice 2</h3> -->
                    <div class="col-md-1">
                        <img src="/assets/spicyfull-small.png" />
                    </div>
                    <div class="col-md-1">
                        <img src="/assets/spicyfull-small.png" />
                    </div>
                    <div class="col-md-1">
                        <img src="/assets/spicyfull-small.png" />
                    </div>
                </div>
                <div class="row" *ngIf="locationsReady">
                    <div *ngFor="let location of locations3" class=" col-md-4" style="margin-top: .5em;">
                        <div class="spice3" *ngIf="location.level == 3">
                            <button class="btn btn-block" (click)="addOption(location)" [ngClass]="{'btn-secondary' : !location.selected, 'spice-active' : location.selected}">{{location.text}}</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /SIDE BAR -->

        <div id="page-content" class="col-md-8" [ngClass]="{'green-screen' : showGreenScreen, 'page-content' : !showGreenScreen, 'col-md-11' : !showSidebar}">

            <!-- INFO SECTION -->
            <!-- <div id="info-section" class="col-md-12" >
                <div class="row" >
                    <div class="col-md-4" >
                        <div class="card">
                            <h3 class="card-header" data-toggle="collapse" data-target="#rules-body">
                                Rules
                            </h3>
                            <div class="card-body collapse" id="rules-body" >
                                <ul>
                                    <li>
                                        <span>Feed the Wheel locations to drop</span>
                                    </li>
                                    <li>
                                        <span>Spin the Wheel! (click it)</span>
                                    </li>
                                    <li>
                                        <span>Reach your destination before looting</span>
                                    </li>
                                    <li>
                                        <span>Never question the Wheel and chicken will come</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                        <h3 class="card-header" data-toggle="collapse" data-target="#notes-body">
                            Notes
                        </h3>
                        <div class="card-body collapse" id="notes-body">
                            <ul>
                                <li>
                                    <span>Come watch the <a href="https://www.twitch.tv/notthatwillsmith">Spice Club boys</a></span>
                                </li>
                                <li>
                                    <span>Inspired by: <a href="http://pubg.megachris.tv/">http://pubg.megachris.tv/</a></span>
                                </li>
                                <li>
                                    <span>Cool Wheel Lib: <a href="http://dougtesting.net/winwheel/docs">http://dougtesting.net/winwheel/docs</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    </div>
                </div>
            </div> -->

            <div id="location-select">
                <div>
                    <span class="badge badge-default">Location select</span>
                </div>
                <!-- <div>
                    <button class="btn btn-sm btn-primary active" aria-pressed="true">
                        Erangel
                    </button>
                    <button class="btn btn-sm btn-primary" aria-pressed="false">
                        Miramar
                    </button>
                </div> -->

                <div class="btn-group" data-toggle="buttons">
                  <label class="btn active" [ngClass]="{'btn-primary' : currentMap == 'erangel', 'btn-secondary' : currentMap == 'miramar'}" (click)="checkMapSelection('erangel')">
                    <input type="radio" name="options" id="option1" [value]="erangel"  autocomplete="off" checked> Erangel
                  </label>
                  <label class="btn" [ngClass]="{'btn-primary' : currentMap == 'miramar', 'btn-secondary' : currentMap == 'erangel'}"  (click)="checkMapSelection('miramar')">
                    <input type="radio" name="options" id="option2" [value]="miramar" autocomplete="off"> Miramar
                  </label>
                </div>
            </div>
            <!-- <div id="spice-quick-select">
                <div>
                    <span class="badge badge-default">Spice quick select</span>
                </div>
                <div>

                </div>
            </div> -->

            <!-- WHEEL SECTION -->
            <div class="wheel col-md-6 offset-md-4 spacer" style="height: 50vh; margin-top: 4.5em; margin-bottom: 4.5em;">
               <div class="the_wheel">
                   <canvas id="canvas" width="500" height="500" (click)="reset(); spin();"  >
                       <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                   </canvas>
               </div>
            </div>
        </div>
    </div>
</div>
