.the_wheel {
    background-image: url("/assets/murder-wheel-back.png");
    margin-left: -23px;
    background-repeat: no-repeat;
}

.page-content {
    background-color: rgba(216, 212, 212, 0.43);
    height: 100vh;
}

#sidebar, .sidebar-collapse {
    background-color: rgba(0, 0, 0, 0.43);
    height: 100vh;
}

#sidebar-title h2 {
    color: white;
}

#sidebar .sidebar-close, .sidebar-open {
    color: white;
}

#spice-title {
    color: white;
}

.green-screen {
    background-color: green;
}

.spice1-active {
    background-color: green;
}

.spice2-active {
    color: orange;
}

.spice3-active {
    color: red;
}
