<nav class="navbar navbar-dark navbar-expand">
    <a class="navbar-brand" href="#">Spite Club</a>
  <div>
      <app-steam-status></app-steam-status>
  </div>

  <div class="ml-auto">
      <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
        <button class="btn" (click)="selectMap('Erangel')" [ngClass]="{'btn-primary' : map == 'Erangel', 'btn-secondary' : map != 'Erangel'}">
            Erangel
        </button>
        <button class="btn" (click)="selectMap('Miramar')" [ngClass]="{'btn-primary' : map == 'Miramar', 'btn-secondary' : map != 'Miramar'}">
            Miramar
        </button>
        <button class="btn" (click)="selectMap('Sahnok')" [ngClass]="{'btn-primary' : map == 'Sahnok', 'btn-secondary' : map != 'Sahnok'}">
            Sanhok
        </button>
        <button class="btn" (click)="selectMap('Vikendi')" [ngClass]="{'btn-primary' : map == 'Vikendi', 'btn-secondary' : map != 'Vikendi'}">
            Vikendi
        </button>
        <button class="btn" (click)="selectMap('Bonus')" [ngClass]="{'btn-bonus' : map == 'Bonus', 'btn-secondary' : map != 'Bonus'}">
            Bonus
        </button>
      </div>
      <div class="btn-group mr-2">
          <button class="btn btn-sm" (click)="toggleLocationNav()" [ngClass]="{'btn-primary': locationSelectToggle, 'btn-secondary' : !locationSelectToggle}">
              <fa [name]="'map-marker'" [size]="2"></fa>
          </button>
      </div>

      <div class="btn-group">
          <button class="btn btn-sm btn-secondary" (click)="showInfo()">
              <fa [name]="'question-circle'" [size]="2"></fa>
          </button>
      </div>
  </div>
</nav>
