@import '~font-awesome/css/font-awesome.css';

.banner {
    & img {
        max-height: 5.75rem;
        min-height: 4rem;
    }
}
 .navbar {
     padding: 0;
 }

 nav {
     position: absolute;
     top: 0;
     background-color: rgba(0, 0, 0, 0.65);
 }


 @media (max-width: 500px) {
     nav {
         height: 100%;
     }
 }


 body::before {
     filter: blur(8px);

 }

.map-background {
    height: 100%;
    width: 100%;
     /*background-image: url("./assets/pubg_map_down_scale.jpg");*/
     background-image: url("../assets/erangel/erangel.jpg");

     /* Background image is centered vertically and horizontally at all times */
      background-position: center center;

      /* Background image doesn't tile */
      background-repeat: no-repeat;

      /* Background image is fixed in the viewport so that it doesn't move when
         the content's height is greater than the image's height */
      background-attachment: fixed;

      /* This is what makes the background image rescale based
         on the container's size */
      background-size: cover;

      /* Set a background color that will be displayed
         while the background image is loading */
      background-color: #464646;

      overflow: hidden;

      position: absolute;

    filter: blur(3px);
    z-index: -1;
    transform: scale(1.1);

      &.Erangel, &.Bonus {
         background-image: url("../assets/erangel/erangel.jpg");
      }

      &.Miramar {
         background-image: url("../assets/miramar/miramar.jpg");
      }

      &.Sanhok {
         background-image: url("../assets/sanhok/sanhok.jpg");
      }

      &.Vikendi {
         background-image: url("../assets/vikendi/vikendi.jpg");
      }
 }

 .location-select {
     z-index: 1000;
 }

 @keyframes slideInDown {
   from {
     transform: translate3d(0, -100%, 0);
     visibility: visible;
   }

   to {
     transform: translate3d(0, 0, 0);
   }
 }

 .slideInDown {
   animation-name: slideInDown;
 }

$fireColor: rgb(255,80,0);
$fireColorT: rgba(255,80,0,0);
$dur: 1s;
$blur: 0.02em;
$fireRad: 3em;
$parts: 50;
$partSize: 5em;

.fire-container {
    position:absolute;
    bottom:0;
    z-index: 100000;
}

.fire {
	font-size: 24px;
	filter: blur($blur);
	-webkit-filter: blur($blur);
	margin: 3em auto 0 auto;
	position: relative;
	width: 10em;
	height: 12em;
}
.fire .particle {
	animation: rise $dur ease-in infinite;
	background-image: radial-gradient($fireColor 20%,$fireColorT 70%);
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: $partSize;
	height: $partSize;
	// spread particles out in time and x-position to get desired effect
	@for $p from 1 through $parts {
		&:nth-of-type(#{$p}) {
			animation-delay: $dur * random();
			left: calc((100% - #{$partSize}) * #{($p - 1)/$parts});
		}
	}
}
@keyframes rise {
	from {
		opacity: 0;
		transform: translateY(0) scale(1);
	}
	25% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateY(-10em) scale(0);
	}
}
