@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/cdk/overlay-prebuilt.css";


/* You can add global styles to this file, and also import other style files */
body {
    /*background-image: url("./assets/pubg_map_down_scale.jpg");*/
    background-image: url("./assets/erangel/erangel.png");

    /* Background image is centered vertically and horizontally at all times */
     background-position: center center;

     /* Background image doesn't tile */
     background-repeat: no-repeat;

     /* Background image is fixed in the viewport so that it doesn't move when
        the content's height is greater than the image's height */
     background-attachment: fixed;

     /* This is what makes the background image rescale based
        on the container's size */
     background-size: cover;

     /* Set a background color that will be displayed
        while the background image is loading */
     background-color: #464646;

     overflow: hidden;

     &.Erangel, &.Bonus {
        background-image: url("./assets/erangel/erangel.png");
     }

     &.Miramar {
        background-image: url("./assets/miramar/miramar.png");
     }

     &.Sahnok {
        background-image: url("./assets/sanhok/sanhok.png");
     }

     &.Vikendi {
        background-image: url("./assets/vikendi/vikendi.png");
     }
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
  }
}

.swal2-container {
  z-index: 1000;
}

.swal2-modal {
    position: initial !important;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.page-header {
    background-color: rgba(0, 0, 0, 0.65);
}

.spacer {
    margin-top: 2em;
}

.spacer-sm {
    margin-top: 1em;
}
 #location-select .btn {
     font-size: .8rem;
 }
