@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/cdk/overlay-prebuilt.css";


/* You can add global styles to this file, and also import other style files */


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
  }
}

// Overlay global position strategy not playing nice so centering manually;
.cdk-overlay-pane {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    overflow: hidden;
}



.swal2-container {
  z-index: 1000;
}

.swal2-modal {
    position: initial !important;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.page-header {
    background-color: rgba(0, 0, 0, 0.65);
}

.spacer {
    margin-top: 2em;
}

.spacer-sm {
    margin-top: 1em;
}
 #location-select .btn {
     font-size: .8rem;
 }
